.fundo {
    -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #AD6B35, #FBC499 75%, #AD6B35);
    -fx-border-width: 1;
    -fx-border-color: linear-gradient(to bottom, teal, silver, teal);
}

.button {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12;
    -fx-text-fill: #000000;
}

.buttonAct {
    -fx-border-color: darkgray;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button:hover {
}

.toggle-button, .toggle-button:selected {
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label, .check-box {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-fill: #152A58; 
}