/* 
    Document   : Prescreve
    Created on : 25/04/2013, 14:28:32
    Author     : ralfh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.botao {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.botao-telaPrincipal:hover {
    -fx-stroke: darkred;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.botaoConfirmar {
    -fx-background-image: url("imagens/accept.png");
}

.botaoCancelar {
    -fx-background-image: url("imagens/cancel.png");
}
